footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
  margin-top: 50px;
  font-family: Montserrat;
}
.logoFooter {
  width: 122px;
  padding-top: 66px;
}
.markFooter {
  color: white;
  padding-bottom: 24px;
  font-size: 24px;
}
@media (min-width: 375px) and (max-width: 767px) {
  .markFooter {
    color: white;
    padding-bottom: 24px;
    font-size: 24px;
    font-size: 13px;
  }
}
@media (min-width: 768px) and (max-width: 968px) {
  .markFooter {
    color: white;
    padding-bottom: 24px;
    font-size: 24px;
    font-size: 18px;
  }
}
