.h1TopBanner {
  font-size: 48px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-style: normal;
  font-weight: 500;
  z-index: 2;
}
@media all and (max-width: 968px) {
  .h1TopBanner {
    font-size: 24px;
    padding-left: 10px;
  }
}
